body {
  
  background-color: #e5e5e5;
  font-family: "Audiowide", sans-serif;
  font-size: 14px;
  color: #fca311;
  border: 3.5px solid #000000;
  text-shadow: 1.5px 1.5px #14213d;
}
@keyframes animation{
0%{background-color: #e5e5e5;}
 25% {background-color: #fca311;}
  50%{background-color: #000000;}
  75%{background-color: #14213d;}
  100%{background-color: #FFFFFF;}
  
}
div {
  width: fill-available;
  height: 20px;
  animation-name: animation;
  animation-duration: 5s;
  animation-iteration-count:infinite;
}


img {
    max-width: 100%;
    max-height: 100vh;
    height: auto;
    width: auto;
}
